@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap');

:root {
    --red: hsl(0, 93%, 68%);
    --red-light: hsl(0, 36%, 70%);
    --dark: hsl(0, 6%, 24%);
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    ;
}

.main {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 2px solid red;
}

.container {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 100vh;
    align-items: center;
    /* justify-content: center; */
    border: 1px solid black;
    margin: auto;
}

.leftBlock {
    border: 1px solid brown;
    background-image: url('images/bg-pattern-desktop.svg');
    background-position: center;
    width: 60%;
    height: 60%;
    align-items: center;
}

.logo,
.title,
.text,
.email {
    margin-left: 30%;
}

.logo {
    margin-bottom: 5rem;
    margin-top: 2rem;
}

.title {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    font-size: 5rem;
    font-weight: 500;
}

.pink {
    color: var(--red-light);
}

.text {
    display: flex;
    width: 50%;
    font-size: 1rem;
}


.rightBlock {
    border: 1px solid red;
    width: 40%;
    height: 60%;
    background-image: url("/images/hero-desktop.jpg");
    background-size: cover;

}

.input-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 2rem;
    margin-left: 5.5rem;
    width: 25rem;
}

.email {
    flex: 1;
    border-radius: 120px 0 0 120px;
    padding: 0.5rem 1rem;
    height: 2rem;
    border: 1px solid pink;
    box-shadow: 0 5px 20px 3px hsl(0, 80%, 86%);
    border-right: none;
}

.submit {
    background: linear-gradient(90deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border: 0;
    border-radius: 0 120px 120px 0;
    box-shadow: 0 5px 20px 3px hsl(0, 80%, 86%);
    height: 3rem;
    width: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-error {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -2rem;
    display: none;
}

input::placeholder {
    color: var(--red-light);
    padding-left: 1rem;
}

input:focus,
button:focus {
    outline: none;
}

.text-error {
    margin-top: 1rem;
    margin-left: 13rem;
}

.josefin-sans-jojo {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.responsive-logo,
.responsive-hero {
    display: none;
}

@media screen and (max-width: 400px) {

    .responsive-logo,
    .responsive-hero {
        display: block;
    }


}